:root{
--first-color:#FFFFFF;
--second-color:#0B0E66;
--third-color:#26C7EA;
--fourht-color:#141414;
--fift-color:#0A3853;
--sixt-color:#141414;
--hover-color:#94CFFF;
} 
 .container{
    max-width: 1032px;
    margin: 0 auto;
    border: none;
}   
body{
    font-family: Inter;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style-type: none;
    text-align: none;
}
p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
a{
    width: 200px;
    text-decoration: none;
    color: var(--first-color);
}
.header-overlay-div{
    margin-bottom: 3px;
    background-position:50% 32%;
    background-size: cover;
    height: 150px;
    background-image: linear-gradient( rgba(47,74,97,0.87), rgba(47,74,97,0.87)), 
    url(../img/Rectangle\ 104\ \(2\).jpg);
    background-repeat: no-repeat;
}
.header-div{
    padding-top: 30px;
    margin-left: 440px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--first-color);
    padding-bottom: 70px;
}
.header-nav{
    margin-left: 170px;
    display: flex;
    align-items: center;
}
.header-li:hover{
    color: var(--third-color);
    max-width: 200px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
}
.header-ul{
    gap: 42px;
    display: flex;
    flex-direction: row;
    color: var(--fourht-color);
}
.header-ul-li{
    padding-left: 300px;
    display: flex;
    flex-direction: row;
}
.header-p{
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
}
.header-a:hover{
    color: var(--hover-color);
}
.header-button{
    height: 41px;
    width: 141px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.05px;
    text-align: justified;
    border-radius: 35px 0px;
    font-family: Headl and One;
    color: var(--third-color);
    background-color: var(--second-color);
    border: solid 2px var(--third-color);
}
.main-overlay-div{
   background-size: cover;
   height: 740px;
   background-image: url( ../img/Group\ 48\ 1.jpg);
   background-repeat: no-repeat;
}
.main-overlay-div-ul{
    padding-top: 184px;
    max-width: 376px;
    max-height: 381px;
}
.main-p-li::before{
    display: block;
    content: url(../img/Rectangle\ 53.svg);
    background-repeat: no-repeat;
}
.main-p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;    
    color: var(--first-color);
    max-width: 298px;
}
.main-p-li{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    max-width: 300px;
    color: var(--first-color);
    max-width: 371px;
}
.main-button{
    padding-left: 10px;
    width: 260px;
    height: 80px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.06px;
    text-align: center;
    border: 3px  ;
    color: var(--third-color);
    background-color: var(--second-color);
    border: solid 3px var(--third-color);
    border-radius: 45px 0px;
}
.main-overlay-div-bottom{
    padding-left: 0px;
    padding-left: 982px;
}
.li-img{
    margin-left: 20px;
    padding-bottom: 24px;
}
.main-overlay-div-bottom{
    max-width: 1030px;
    max-height: 350px;
}
.main-h1{
    color: var(--fift-color);
    max-width: 727px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    margin-left: 150px;
}
.main-h1-second{
    color: var(--fift-color);
    max-width: 1002px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    margin-left: 10px;
    line-height: 0px;
}
.main-p-overlay-bottom{
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    margin-left: 430px;
}
.main-p-overlay-bottom::after{
    margin-left: -140px;
    max-width: 400px;
    max-height: 120px;
    display: block;
    content: url(../img/Rectangle\ 8.svg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.overlay-button{
    background-size: cover;
    height: 741px;
    background-image: url(../img/Rectangle\ 10.jpg);
    background-repeat: no-repeat;
}
.button-overlay{
    margin-left: 386px;
    margin-top: 330px;
    padding-left: 16px;
    width: 260px;
    height: 80px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.06px;
    text-align: center;
    border: 3px  ;
    color: var(--third-color);
    background-color: var(--second-color);
    border: solid 3px var(--third-color);
    border-radius: 45px 0px;
}
.h1-main{
    margin-left: 60px;
    max-width: 886px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    color: var(--fourht-color);
}
.h1-main-second{
    max-width: 1002px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    margin-left: 250px;
    line-height: 0px;
    color: var(--fourht-color);
}
.overlay-ul-div{
    font-family: Headland One;
    background-size: cover;
    height: 704px;
    background-image: url(../img/Rectangle\ 20.jpg);
    background-repeat: no-repeat;
}
.main-bottom-p-overlay{
    padding-top: 62px;
    padding-bottom: 45px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
}
.div-overlay-ul{
    display: flex;
    flex-direction: row;
    gap: 28px;
}
.ul-itam{
    content: " ";
    display: block;
    width: 320px;
    height: 240px;
    background-color: #FFFFFFB2;
    margin-bottom: 24px;
}
.first-overlay-p{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: var(--fourht-color);
    margin-bottom: 37px;
}
.second-overlay-p{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: var(--fourht-color);
    margin-bottom: 37px;
}
.third-overlay-p{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: var(--fourht-color);
    margin-bottom: 37px;
}
.overlay-li-p{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: var(--fourht-color);
    margin-bottom: 38px;
}
.overlay-ul-div-h1{
    max-width: 940px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    color: var(--fourht-color);
}
.overlay-ul-div-h1-second{
    max-width: 812px;
    margin-left: 66px;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    line-height: 0px;
    color: var(--fourht-color);
}
.overlay-ul-div-p{
    max-width: 84px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
}
.bottom-main-p-overlay{
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    margin-left: 450px;
}
.bottom-main-p-overlay::after{
    margin-left: -170px;
    max-width: 400px;
    max-height: 120px;
    display: block;
    content: url(../img/Rectangle\ 8.svg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}